
    <!-- 首页页面 -->
    <!-- 头部 -->
    <header>
        <dl>
            <dt><img src="imgs/scan.jpg"></dt>
            <dd>扫一扫</dd>
        </dl>
        <h2>点击查看位置</h2>
        <dl>
            <a href="#/btn6">
                <dt><img src="imgs/index_search.png"></dt>
                <dd>搜索</dd>
            </a> 
        </dl>           
    </header>

    <!-- 轮播 -->
    <div id="lunbo1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="imgs/1.jpg"/></div>
                <div class="swiper-slide"><img src="imgs/2.jpg"/></div>
                <div class="swiper-slide"><img src="imgs/3.jpg"/></div>
                <div class="swiper-slide"><img src="imgs/4.jpg"/></div>
                <div class="swiper-slide"><img src="imgs/5.jpg"/></div>
                <div class="swiper-slide"><img src="imgs/6.jpg"/></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 服务区 -->
    <div class="bakuai">
        <dl>
            <dt><img src="imgs/n1.png"></dt>
            <dd>抽奖</dd>
        </dl>
        <dl>
            <a href="#/btn7">
                <dt><img src="imgs/n2.jpg"></dt>
                <dd>疯狂秒杀</dd>
            </a>
        </dl>
        <dl>
            <dt><img src="imgs/n3.png"></dt>
            <dd>鲜货直供</dd>
        </dl>
        <dl>
            <dt><img src="imgs/n4.png"></dt>
            <dd>大闸蟹</dd>
        </dl>
        <dl>
            <dt><img src="imgs/n5.png"></dt>
            <dd>水果</dd>
        </dl>
        <dl>
            <dt><img src="imgs/n6.png"></dt>
            <dd>乳品</dd>
        </dl>
        <dl>
            <dt><img src="imgs/n7.png"></dt>
            <dd>卤味</dd>
        </dl>
        <dl>
            <dt><img src="imgs/n8.png"></dt>
            <dd>零食</dd>
        </dl>
    </div>

    <!-- 信息轮播区 -->
    <div class="xinxi">
        <div class="toutiao"><img src="imgs/n9.jpg"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <span>剁手</span> 淘宝双十一，你不剁手谁剁手
                </div>
                <div class="swiper-slide">
                    <span>买买买</span> 不倾国不倾城，只让你倾家荡产
                </div>
                <div class="swiper-slide">
                    <span>防霾</span> 3M防霾口罩22.8元/3只 1小时闪送
                </div>
            </div>
        </div>
    </div>

    <!-- 三张图区 -->
    <div class="santu">
        <div><img src="imgs/n10.jpg"></div>
        <div><img src="imgs/n11.jpg"></div>
        <div><img src="imgs/n12.jpg"></div>
    </div>

    <!-- 四张图区 -->
    <div class="situ">
        <div style="border-bottom:none"><img src="imgs/n13.jpg"></div>
        <div style="border-bottom:none"><img src="imgs/n14.jpg"></div>
        <div><img src="imgs/n15.jpg"></div>
        <div><img src="imgs/n16.jpg"></div>
    </div>

    <!-- 优选水果 -->
    <div class="youxuan">
        <h2><span></span>优选水果<a href="#">更多 ></a></h2>
        <div class="zhutu">
            <img src="imgs/n22.png">
        </div>
        <div class="sankuai">
            <dl>
                <dt><img src="imgs/n23.jpg"></dt>
                <dd>蜂蜜-15度蜜梨</dd>
                <p class="p1"><span>精选</span><span>买一赠一</span></p>
                <div class="xiaokuai">
                    <div>
                        <p>400-500g/盒</p>
                        <p class="p2"><span>￥14.6</span><span>￥16</span></p>
                    </div>
                    <div>
                        <img src="imgs/n28.png">
                    </div>
                </div>
            </dl>
            <dl>
                <dt><img src="imgs/n24.jpg"></dt>
                <dd>爱鲜峰-徐香...</dd>
                <p class="p1"><span>精选</span><span>买一赠一</span></p>
                <div class="xiaokuai">
                    <div>
                        <p>285g 3粒/盒</p>
                        <p class="p2"><span>￥16.9</span><span>￥26</span></p>
                    </div>
                    <div>
                        <img src="imgs/n28.png">
                    </div>
                </div>
            </dl>
            <dl>
                <dt><img src="imgs/n25.jpg"></dt>
                <dd>爱鲜峰-赣南...</dd>
                <p class="p1"><span>精选</span></p>
                <div class="xiaokuai">
                    <div>
                        <p>800-900g/袋</p>
                        <p class="p2"><span>￥6.8</span><span>￥8.5</span></p>
                    </div>
                    <div>
                        <img src="imgs/n28.png">
                    </div>
                </div>
            </dl>
        </div>
    </div>

    <!-- 信息获取区 -->
    <div class="huoqu" ng-controller="myCtrl">
        <dl ng-repeat="shu in shuju">
            <dt><img ng-src="{{shu['img']}}"></dt>
            <dd>{{shu['name']}}</dd>
            <p class="p1"><span>精选</span><span ng-hide="shu['pm_desc'] ==''">{{shu['pm_desc']}}</span></p>
            <div class="xiaokuai2">
                <div>
                    <p>{{shu['specifics']}}</p>
                    <p class="p2"><span>￥{{shu['price']}}</span><span>￥{{shu['market_price']}}</span></p>
                </div>
                <div>
                    <p ng-click="shanchu(shu)"><img src="imgs/n27.png" ng-if="hqcount(shu['name'])"></p>
                    <p ng-if="hqcount(shu['name'])">{{hqcount(shu["name"])}}</p>
                    <p ng-click="tianjia(shu)"><img src="imgs/n26.png"></p>
                </div>
            </div>
        </dl>
        <!-- <dl>
            <dt><img src="imgs/n30.png"></dt>
            <dd>福成原味酸牛...</dd>
            <p class="p1"><span>精选</span><span>买一赠一</span></p>
            <div class="xiaokuai2">
                <div>
                    <p>240g</p>
                    <p class="p2"><span>￥8.9</span><span>￥12.9</span></p>
                </div>
                <div>
                    <img src="imgs/n26.png">
                </div>
            </div>
        </dl> -->
    </div>

    <!-- 底部功能区 -->
    <footer>
        <dl>
            <a href="#/btn1">
                <dt><img src="imgs/n17.png"></dt>
                <dd>首页</dd>
            </a>
        </dl>
        <dl>
            <a href="#/btn2">
                <dt><img src="imgs/n18.png"></dt>
                <dd>闪送超市</dd>
            </a>
        </dl>
        <dl>
            <a href="#/btn3">
                <dt><img src="imgs/n19.png"></dt>
                <dd>新鲜预定</dd>
            </a>
        </dl>
        <dl>
            <a href="#/btn4">
                <dt><img src="imgs/n20.png"></dt>
                <dd>购物车</dd>
            </a>
        </dl>
        <dl>
            <a href="#/btn5">
                <dt><img src="imgs/n21.png"></dt>
                <dd>我的</dd>
            </a>
        </dl>
    </footer>



   <script type="text/javascript" src="js/app/shouye1.js"></script>
